<h1>THIS IS THE SECRET PAGE!!!!</h1>

<img src="http://resources2.news.com.au/images/2010/03/22/1225843/987862-ugliest-animals.jpg">

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>