<% include partials/header %>

<h1>Home Page</h1>
<img src="https://cute.barkpost.com/wp-content/uploads/2015/10/guaranteed-laugh-1.jpg?q=70&fit=crop&crop=entropy&w=808&h=808">

<% include partials/footer %>





